.container-skills {
  width: 400px;
  max-width: 80%;
  margin: auto;
  margin-top: 50px; }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  align-items: center;
  grid-gap: 30px;
  margin-top: 30px;
  margin-bottom: 20px; }

.bloc-skills {
  position: relative;
  margin-top: 50px; }
  .bloc-skills .skills-name {
    position: absolute;
    top: -40px;
    font-size: 1.3em; }
  .bloc-skills .bloc {
    position: relative;
    background: #f0f0f0;
    height: 40px; }
    .bloc-skills .bloc .bloc-percentage {
      position: absolute;
      background: #e3bb1d;
      height: 40px;
      line-height: 40px;
      text-align: left;
      transition: 1s linear;
      font-size: 0.9em;
      padding-left: 5px;
      padding-right: 30px;
      color: #222; }

.light {
  font-family: "calibri light" !important;
  font-weight: normal;
  color: #222; }
